$gray-1: #f0f0f0;
$gray-2: #f4f4f4;
$gray-3: #f6f5f2;
$gray-4: #9f9f9f;
$gray-5: #808080;
$gray-6: #dedede;
$black-1: #4e4e4e;
$black-2: #3f3f40;
$purple-1: #3019b2;
$purple-2: #271c47;
$blue-1: #3442b5;

$white-1: #ffffff;
$yellow-1: #f7ca11;

$padding-page: 0 80px;
$border-radius-1: 5px;
$border-radius-2: 10px;
$box-shadow-1: 0px 8px 16px 0px rgb(57, 48, 19, 0.12);
$box-shadow-2: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
$box-shadow-3: 0px 3px 19px 0px rgba(0, 0, 0, 0.13);
$box-shadow-4: 0px 7px 20px rgba(0, 0, 0, 0.13);
